<app-mini-nav [title]="'CHANGE-PASS' | translate" [image]="'no'" [action]="'no'" [backAction]="'/settings'"></app-mini-nav>

<form [formGroup]="passwordForm">
    
    <div class="group">
        <label style="font-size: 14px;
        color: #A2A2A7;  margin-top: 20px;" for="password1">{{'CURRENT-PASS' | translate}}</label>
        <div class="input-group-data" [ngClass]="{'error': errors.short.oldPassword || errors.required.oldPassword}">
            <img src="../../assets/images/icons/Lock, Password.png">
            <input type="password" formControlName="oldPassword" id="password1"
                [placeholder]="'CURRENT-PASS-HOLDER' | translate">
        </div>
        <div class="text-error">
            <div *ngIf="errors.short.oldPassword">{{'ERROR-PASS-6' | translate}}</div>
            <div *ngIf="errors.required.oldPassword">{{'ERROR-PASS-REQUIRED' | translate}}</div>
        </div>
    </div>
    <div class="group">
        <label for="password2" style="font-size: 14px;
        color: #A2A2A7;  margin-top: 20px;">{{'NEW-PASS' | translate}}</label>
        <div class="input-group-data" [ngClass]="{'error': errors.short.newPassword || errors.required.newPassword}">
            <img src="../../assets/images/icons/Lock, Password.png">
            <input [type]="seePassword ? 'text' : 'password'" formControlName="newPassword" id="password2"
                [placeholder]="'NEW-PASS-HOLDER' | translate">
            <img (click)="seePassword = !seePassword"
                [src]="seePassword ? '../../assets/images/icons/eye.png' : '../../assets/images/icons/eye-off.svg'">
        </div>
        <div class="text-error">
            <div *ngIf="errors.short.newPassword">{{'ERROR-PASS-6' | translate}}</div>
            <div *ngIf="errors.required.newPassword">{{'ERROR-PASS-REQUIRED' | translate}}</div>
        </div>
    </div>
    <div class="group">
        <label for="password3" style="font-size: 14px;
        color: #A2A2A7;  margin-top: 20px;">{{'REPEAT-NEW-PASS' | translate}}</label>
        <div class="input-group-data" [ngClass]="{'error': errors.short.repetedNewPassword || errors.required.repetedNewPassword}">
            <img src="../../assets/images/icons/Lock, Password.png">
            <input type="password" formControlName="newRepeatedPassword" id="password3"
                [placeholder]="'REPEAT-NEW-PASS-HOLDER' | translate">
        </div>
        <div class="text-error">
            <div *ngIf="errors.short.repetedNewPassword">{{'ERROR-PASS-6' | translate}}</div>
            <div *ngIf="errors.required.repetedNewPassword">{{'ERROR-PASS-REQUIRED' | translate}}</div>
        </div>
    </div>
    <p class="match-pass">{{'BOTH-PASS' | translate}}</p>
    <div class="text-error">
        <div *ngIf="errors.passwordsDontMatch">{{'ERROR-PASS-NO-MATCH' | translate}}</div>
        <div *ngIf="errors.oldNewMatch">{{'ERROR-DIFF-PASS' | translate}}</div>
        <div *ngIf="errors.failedChange">{{'ERROR-FAILED' | translate}}</div>
        <div *ngIf="errors.oldPassIncorrect">{{'ERROR-OLD-PASS-WRONG' | translate}}</div>
    </div>
    <div class="custom-button">
        <app-button-custom (click)="onSubmit()" [text]="'CHANGE-PASS' | translate" [invalid]="false"></app-button-custom>
    </div>
</form>