.title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .clean {
        background-color: var(--element-style-color);
        height: 42px;
        width: 42px;
        text-align: center;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            filter: var(--image-fill);
        }
    }
}
.search{
    margin: 20px 0;
    background-color: var(--element-style-color);
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;

    input{
        padding: 0 5px;
        border: none;
        outline: none;
        width: 100%;
        background-color: inherit;
        color: inherit;
    }
    input::placeholder {
        color: #A2A2A7;
    }

}
